@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin:90px;
}


.name {
    background-color: rgb(168, 168, 230);
    color: rgb(4, 4, 85);
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-job{
    font-weight: 100;
}

.about {
    justify-content: center;
    align-items: center;
    display: flex;
}

.job{
    color: blue;
}

h1 {
    background-color: #a1a1a1;
    color: rgb(4, 4, 85);
    border-bottom: 2px solid rgb(4, 4, 85);
    text-indent: 10px;
}

p{
    margin-top: 10px;
    font-weight: bold;
}

ul{
    list-style-position: inside;
}