body{
    font-family: sans-serif;
}

p{
    background-color: #ccc;
}

h1{
    background-color: #332828;
    width: 50%;
    /* Quando definimos como porcentagem, o elemento vai se adpatar a página, considerando a porcentagem e o tamanho da janela em caso de redimensão */
}

h2{
    width: 200px;
    background-color: #363224;
    height: 150px;
    /* O height vai se basear na largura definida do corpo */
}