*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      /* Zerando a formatação da página */
    }

    body{
      height: 100vh;
      display: flex; /* Torna possível centralizar o conteúdo */
      justify-content: center; /* Alinha o conteúdo verticalmente */
      align-items: center; /* Alinha os itens dentro do container e no centro */
      background: #00dfe6;
    }

    .container{
      width: 340px; /* Tamanho do container */
    }

    .title{
      text-align: center;
      color: #333;
      margin-bottom: 15px;
      font-size: 32px;
      font-weight: bold;
      /* Formatação do título */
    }

    .contact-list{
      background: #f1f1f1;
      border-radius: 5px;
      max-height: 300px;
      overflow-y: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);

    /* Formatação da lista de contatos */
    }

    /* .contact{
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 15px;
      border-bottom: 1px solid #ccc;
      transition: 0.3s;
      cursor: pointer;
    } */

    /* .contact:hover{
      background: #ddd;
    }

    .contact img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    .info h3{
      color: #333;
      margin-bottom: 5px;
    }

    .info p{
      color: #777;
      font-size: 14px;
    } */

    /* Scroll personalizado
    .contact-list::-webkit-scrollbar{
      width: 8px;
    }

    .contact-list::-webkit-scrollbar-thumb{
      background: #999;
      border-radius: 10px;
    }

    .contact-list::-webkit-scrollbar-track{
      background: #e5e5e5;
    }


.contact-list{
   max-height: 300px;
   overflow-y: auto;
} */