body {
  font-family: sans-serif;
}

p {
  background-color: #ccc;
}

h1 {
  background-color: #332828;
  width: 50%;
  padding: 16px;
  /*O padding é a distância interna do elemento com relação ao conteúdo
    O padding é um ENCHIMENTO entre o conteúdo e o espaço que ele ocupa */
  /* O padding ele pode ser único para as 4 direções, ou então você pode definir um tamanho personalizado para cada.
  
  Padding - top
  Padding - right
  Padding - botttom
  Padding - left
  */
}

h2 {
  width: 200px;
  background-color: #363224;
  height: 150px;
  margin: 16px;
  /* É o enchimento da BORDA pra fora. Ele vai distanciar o elemento das bordas da página */
  /* A mesma explicação acima vale para o margin também, podendo ser dividido em:
  
  Margin - top
  Margin - right
  Margin - bottom
  Margin - left
  */
}
